@import "~@icon-park/vue/styles/index.css";

html {
  touch-action: manipulation;
}

html, body, #app {
  height: 100%;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-family: PingFang SC, Helvetica Neue, Helvetica, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
}
p {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  outline: none;
}
.el-button--primary {
  background: #000;
  color: #fff;
  border-color: #000;
}
.el-button--primary:focus, .el-button--primary:hover {
  background: #000;
  color: #fff;

}